@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;600&display=swap');

@font-face {
  font-family: 'Korsen';
  src: url('../imports/font/Korsen Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Korsen';
  src: url('../imports/font/Korsen Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
